*,
*::before,
*::after {
	box-sizing: border-box;
}body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
	margin: 0;
}

ul,
ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

html:focus-within {
	scroll-behavior: smooth;
}

body {
	text-rendering: optimizeSpeed;
	min-height: 100vh;
	overflow-x: hidden;
	line-height: 1.5;
}

a:not([class]) {
	text-decoration-skip-ink: auto;
}

img,
picture {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select,
td,
th {
	font: inherit;
	text-align: center;

}
button {
	padding: 0;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within {
		scroll-behavior: auto;
	}

	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	border-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
