@use '@/core/styles/funcs' as *;
@use '@/styles/vars' as *;

.block{
    background-color: $c-white;
    padding: rem(24) rem(30);
    margin-bottom: $spaceM/2;
    position: relative;
}
.blockinner{
    width:100%;
    align-items: center;
}
.title{
    font-size: $fs-34;
    color: $c-dark;
    font-weight: 400;
}
.breadcrumps{
    align-items: center;
    margin-bottom: $spaceXS;
}
.breadcrumpsitem{
    color: $c-dark;
    font-size: $fs-14;
    position: relative;
    top: rem(2.5);
}
.breadcrumpslink{
    color: $c-gray;
    font-size: $fs-14;
    text-decoration: none;
}
.breadcrumpslinkicon{
    stroke: $c-dark;
    width: rem(12);
    height: rem(18);
    display:inline-flex;
    position: relative;
    top: rem(5);
    margin: 0 $spaceXS/2;
}

.loginblock{
    position: absolute;
    right: rem(40);
    font-size: $fs-18;
}

.login{
    color: $c-dark;
    font-size: 18px;
    font-weight: bold;
}

.logout{
    margin-left: $spaceXS;
}

@media print {
    .block{
        display: none;
    }
}