@use '@/core/styles/funcs' as *;
@use '@/styles/vars' as *;

.wrapper{
    position:absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
}
.box{
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}