.header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding-left: 0.75rem;
    z-index: 50;
    gap: 16px;
    border-bottom: 1px solid #3d3d3d;
  }
  
  .logo {
    position: relative;
    display: inline-block;
    width: 20rem;                
    height: 4rem;
    border: 1px solid #29292b;
  }
  
  .logofile {
    position: relative;          
    display: flex;
    width: 20rem;                
    height: 4rem;
    overflow: visible; 
    justify-items: center;
    align-items: center;
  }
  
  .logofile img {
    display: block;
    object-fit: contain;
    max-width: 15rem;
    margin: 3.75rem;
    z-index: 1;
    position: relative;           /* img на уровне 1 */
  }
  
  /* уголки — более заметные, с обводкой */
  .cornertl {
    position: absolute;
    width: 7px;
    height: 7px;
    background: transparent;      /* можем рисовать только границы */
    z-index: 3;                   /* выше, чем img */
    pointer-events: none;
    top: 0; 
    left: 0; 
    border-top: 1px solid #ccc; 
    border-left: 1px solid #ccc; 
 
  }

  .cornertr {
    position: absolute;
    width: 7px;
    height: 7px;
    background: transparent;      /* можем рисовать только границы */
    z-index: 3;                   /* выше, чем img */
    pointer-events: none;
    top: 0; 
    right: 0; 
    border-top: 1px solid #ccc; 
    border-right: 1px solid #ccc; 
  }

  .linktr {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 2;
    pointer-events: none;
    top: 0;
    right: 0;
    
    border-top: 1px solid;
    border-right: 1px solid;
    border-image: linear-gradient(315deg, #223f64 0%, black 100%) 1;
  }
  
  .linkbl {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    z-index: 2;
    pointer-events: none;
    bottom: 0;
    left: 0;
    
    border-bottom: 1px solid;
    border-left: 1px solid;
    border-image: linear-gradient(135deg, #223f64 70%, black 100%) 1;
  }

  .cornerbl {
    position: absolute;
    width: 7px;
    height: 7px;
    background: transparent;      /* можем рисовать только границы */
    z-index: 3;                   /* выше, чем img */
    pointer-events: none;
    bottom: 0; 
    left: 0; 
    border-bottom: 1px solid #ccc; 
    border-left: 1px solid #ccc; 
  }

  .cornerbr {
    position: absolute;
    width: 7px;
    height: 7px;
    background: transparent;      /* можем рисовать только границы */
    z-index: 3;                   /* выше, чем img */
    pointer-events: none;
    bottom: 0; 
    right: 0; 
    border-bottom: 1px solid #ccc; 
    border-right: 1px solid #ccc; 
  }

  .cornerbuttontr {
    position: absolute;
    width: 7px;
    height: 7px;
    background: none;      /* можем рисовать только границы */
    z-index: 3;                   /* выше, чем img */
    pointer-events: none;
    top: 0; 
    right: 0; 
    border: none;
    border-top: 1px solid #ccc; 
    border-right: 1px solid #ccc; 
    filter: brightness(10);
    box-shadow: 0 -4px 4px rgba(204, 204, 204, 0.8);
  }
 

  .cornerbuttonbl {
    position: absolute;
    width: 7px;
    height: 7px;
    background: none;     
    z-index: 3;                
    pointer-events: none;
    bottom: 0; 
    left: 0; 
    border-bottom: 1px solid #ccc; 
    border-left: 1px solid #ccc; 
    filter: brightness(10);
    box-shadow: 0 -4px -4px rgba(204, 204, 204, 0.8);
  }
  
  /* Центр — меню */
  .center {
    flex: 1 1 auto;
    display:flex;
    justify-content:center;
    align-items:flex-end;
    pointer-events: auto;
  }
  
  .nav {
    display:flex;
    gap: 2.2rem;
    align-items:center;
    list-style:none;
    margin-left: auto;
  }
  
  /* Элементы меню */
  .navItem {
    color: rgba(255,255,255,0.82);
    text-decoration: none;
    padding: 6px 0;
    position: relative;
    transition: color .12s ease, transform .12s ease;
    font-size: 16px;
    letter-spacing: 0.2px;
  }
  
  .navItem:hover {
    color: #636363;
    transform: translateY(0);
  }
  
  /* нижняя линия при ховере (тонкая) */
  .navItem::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -4px;
    height: 1px;
    background: #636363;
    opacity: 0;
    transform: translateY(4px);
    transition: opacity .15s, transform .15s;
    
  }
  .navItem:hover::after { opacity: 1; transform: translateY(0); }
  
  /* Активный пункт */
  .active {
    color: #636363 !important;
  }
  .active::after {
    opacity: 1;
    transform: translateY(0);
    background: #636363;
  }

  .textbutton:hover {
    color: #636363 !important;
  }
  

  /* Responsive */
  @media (max-width: 980px) {
    .center { justify-content: flex-end; }
    .nav { display: none; }
  }