@mixin transition($transitions...) {
	$unfoldedTransitions: ();
	@each $transition in $transitions {
		$unfoldedTransitions: append(
			$unfoldedTransitions,
			unfoldTransition($transition),
			comma
		);
	}

	-webkit-transition: $unfoldedTransitions;
	transition: $unfoldedTransitions;
}

@function unfoldTransition($transition) {
	$property: all;
	$duration: 0.2s;
	$easing: null;
	$delay: null;
	$defaultProperties: ($property, $duration, $easing, $delay);

	$unfoldedTransition: ();
	@for $i from 1 through length($defaultProperties) {
		$p: null;
		@if $i <= length($transition) {
			$p: nth($transition, $i);
		} @else {
			$p: nth($defaultProperties, $i);
		}
		$unfoldedTransition: append($unfoldedTransition, $p);
	}

	@return $unfoldedTransition;
}
