gunicorn
flask
python-dotenv
pymongo
camelot-py
requests
fake_useragent
bs4
urllib3
lxml
pandas
opencv-python
ghostscript
python-crontab
aiohttp
asyncio
selenium
2captcha-python
pika
flask-cors
python-dateutil
psycopg2
methodtools